#searchField{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.tableBody{
    margin: 10px;
}
.pagination button{
    margin-left: 10px;
}
.selected{
    background-color: brown;
    color: aquamarine;
}